.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color)
}

.white-bg {
  background: var(--white-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.site-section {
  min-height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-spacing {
    height: 6.56rem;
}

.intro-content {
    /* position: relative;
    top: -7rem; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-image {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-image img {
    max-width: 100%;
    height: auto;
}

.top3-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

/* #trabalhos {
    min-height: 120vh;
} */

.trabalhos-content {
    min-height: 120vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.trabalhos-content h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

p.trabalhos-intro {
    padding-bottom: 5rem;
}

.top3-trabalhos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: trabalhos-counter;
}

.top3-trabalhos h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.top3-trabalhos h3::before {
    counter-increment: trabalhos-counter;
    content: counter(trabalhos-counter);
    position: absolute;
    top: -3rem;
    left: -2rem;
    font-size: 8rem;
    font-style: italic;
    transform: rotate(5deg);
}

.galeria-image {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.galeria-image img {
    width: 360px;
    height: 360px;
    transition: all 300ms ease-in-out;
}

.galeria-image img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
    grid-column: span 2;
}

.contact-form fieldset {
    border: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--gap);
}

.contact-form fieldset legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input, .form-group textarea {
    border: none;
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    background: none;
    color: var(--white-color);
    border: 0.5rem solid var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    border-color: var(--primary-color);
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: rgb(117, 114, 114);
    font-size: 1.5rem;
}

.footer {
    text-align: center;
    color: inherit;
}

.footer p {
    margin: 0;
    padding: var(--gap);
}

@media (max-width: 800px) {
    .intro-content, .top3-trabalhos {
        grid-template-columns: 1fr;
    }

    .galeria-image {
        width: 100%;
        max-width: 100%;
        max-height: none;
    }

    .galeria-image img {
        width: 100%;
    }

    .contact-form {
        grid-column: span 1;
    }


}